<div class="row">

      <!-- conditionally display attached file if post.uploaded_image.attached? -->
        <!-- use url_for(post.uploaded_image) as attached file's url -->
      <!-- otherwise display original image url from database column -->
      
  <% if post.uploaded_image.attached? %>
    <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
  <% else %>
  <img src="<%= post["image"] %>" class="img-fluid">
 <% end %>
      <!-- end -->
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>